
@{Layout = "~/Views/Shared/_LayoutSys.cshtml"; }

<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <form action="/Admin/agregar" method="post">

            <h3>Registro de administrador</h3>
            <hr />

            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" name="nombre" value="@Model.nombre" required />
            </div>
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input class="form-control" name="correoElectronico" value="@Model.correoElectronico" required />
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input class="form-control" name="contraseña" value="@Model.contraseña" />
            </div>
            <div class="form-group">
                <label>DNI</label>
                <input min="8" maxlength="8" name="dni" value="@Model.dni" />
            </div>
            
            <button class="btn-danger">Guardar</button>

        </form>
    </div>

</div>
