
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";

}
<br />
<table class="table">
    <thead>
        <tr>
            <th>Portada</th>
            <th>Nombre de canción</th>
            <th>Nombre de artista </th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cancion in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@cancion.imagen"
                         width="80"
                         height="80" />
                </td>
                <td>@cancion.nombre</td>
                <td>@cancion.artista</td>
                <td>@cancion.genero</td>
                <td>
                    <a href="/Usuario/Reproducir?id=@cancion.idCancion&idU=@ViewBag.AccesoConfirmado.idUsuario">REPRODUCIR</a>|
                    <a href="/Biblioteca/AgregarPlaylist?id=@cancion.idCancion">AGREGAR A PLAYLIST</a>
                </td>
            </tr>
        }

    </tbody>
</table>