
@{
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>RegistrarListaReproduccion</h2>

<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <form action="/Biblioteca/Agregar" method="post">
            <div class="form-group">
                <label>Nombre de la Lista </label>
                <input class="form-control" name="nombre" value="@Model.nombre" required />
            </div>
            <input class="form-control" name="idTemporal" value="@ViewBag.AccesoConfirmado.idUsuario" required />
            <button class="btn-danger">Guardar</button>

        </form>
    </div>

</div>